.predio{
    opacity: 1; }

.seta_direita{
    margin-left: 13px;
    opacity: 0;
    transition: 1s; }

.pc {
    margin-left: 25px;
    opacity: 0;
    transition: 1s; }

.seta_baixo {
    margin-top: 85px;
    margin-left: -20px;
    opacity: 0;
    transition: 1s; }

.seta_cima {
    margin-bottom: 85px;
    margin-left: -28px;
    opacity: 0;
    transition: 1s; }

.seta {
    margin-left: 20px;
    transition: 1s;
    opacity: 0; }

.file {
    margin-left: -77px;
    margin-bottom: 180px;
    transition: 1s;
    opacity: 0; }

.file1 {
    margin-left: -37px;
    margin-top: 180px;
    transition: 1s;
    opacity: 0; }

.file2 {
    margin-left: 55px;
    transition: 1s;
    opacity: 0; }
    
.seta_grafico {
    margin-left: 20px;
    opacity: 0;
    transition: 1s; }

.grafico1 {
    margin-left:20px;
    margin-bottom: 40.5px;
    opacity: 0;
    transition: 1s;}

.grafico2 {
    margin-left: -43px;
    margin-top: 40.5px;
    opacity: 0;
    transition: 1s; }

#empregado {
    margin-bottom: 115px;
    margin-left: 50px;
}

#seta_baixo {
    opacity: 0;
    transition: 1s;
    margin-left: -18px;
    margin-bottom: 19px; }

#seta_baixo.show {
    opacity: 1; }

#salario {
    margin-left: -37px;
    margin-top: 69px;
    opacity: 0;
    transition: 1s; }

#salario.show {
    opacity: 1; }

#soma_salario {
    margin-left: 13px;
    margin-top: 49px;
    opacity: 0%;
    transition: 1s; }

#soma_salario.show {
    opacity: 1;}

#beneficio {
    margin-left: 8px;
    margin-top: 65px;
    opacity: 0;
    transition: 1s; }

#beneficio.show {
    opacity: 1; }

#seta_baixo1 {
    opacity: 0;
    transition: 1s;
    margin-left: -23.5px;
    margin-top: 159px; }
    
#seta_baixo1.show {
    opacity: 1; }

#moradia {
    margin-top: 259px;
    margin-left: -195px;
    opacity: 0;
    transition: 1s; }

#moradia.show {
    opacity: 1; }

#soma-1 {
    margin-left: 13px;
    margin-top: 259px;
    opacity: 0;
    transition: 1s;}

#soma-1.show {
    opacity: 1; }

#saude {
    margin-left: 8px;
    margin-top: 259px;
    opacity: 0;
    transition: 1s; }

#saude.show {
    opacity: 1; }

#soma-2 {
    margin-top: 259px;
    margin-left: 13px; 
    opacity: 0;
    transition: 1s;}

#soma-2.show {
    opacity: 1; }

#carro {
    margin-top: 259px;
    margin-left: 8px;
    opacity: 0;
    transition: 1s;}
    
#carro.show{   
    opacity: 1; }

#soma-3 {
    margin-left: 13px;
    margin-top: 259px; 
    opacity: 0;
    transition: 1s;}

#soma-3.show{
    opacity: 1; }

#remuneracao{
    margin-top: 259px;
    margin-left: 8px;
    opacity: 0;
    transition: 1s; }

#remuneracao.show{
    opacity: 1; }

#soma-4 {
    margin-top: 259px;
    margin-left: 13px;
    opacity: 0;
    transition: 1s; }

#soma-4.show{
    opacity: 1; }

#diaria {
    margin-top: 259px;
    margin-left: 8px;
    opacity: 0; 
    transition: 1s; }

#diaria.show{
    opacity: 1; }

.show {
    opacity: 1; }